// ------------------------ FONTS -------------------------
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;900&family=Alegreya:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;900&family=Alegreya:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;900&family=Alegreya:wght@400;500;700;800&display=swap');

// FONT-FAMILIES

$font-titles: 'alegreya sans';
$font-paragraphs: 'alegreya';

// FONT-SIZES

$font-size-title: 60px;
$font-size-subtitle-first: 46px;
$font-size-subtitle-second: 30px;
$font-size-paragraph-first: 24px;
$font-size-paragraph-second: 18px;

// ------------------------ COLORS -------------------------

$background-first: #0e0508;
$background-second: #4f2121;
$color-title: #ecad8a;
$color-paragraph: #f5cba6;
$color-undefined: #c7ae9c;

// ------------------------ SIZES -------------------------

// ------------------------ NORMALIZE -------------------------
