.hero{
    @include grid(1fr,12,0,0);

    &__container{
        @include grid-extension(0,0,2,12);
        
        
    }

    
    &__main-area{
        @include grid(1fr,9,0,0);
        margin-top: 30px;
        margin-bottom: 30px;
        
        
    }

    
    &__description{
        @include grid-extension(0,0,1,4);
        @include grid(0,0,1fr,4);
    }


    &__title{
        font-size: $font-size-title;
        margin-top: 10px;
        margin-bottom: 0;
    }


    &__paragraph{
        font-size: $font-size-paragraph-second;
        @include marPad(true,true);
    }


    &__image-container{
        @include grid-extension(0,0,4,10);
        @include change-size(auto,750px);
        
        
        figure{
            max-height: 100%;
            max-width: 100%;
            @include marPad(true,true);

        }

    }


    &__image{
        max-height: inherit;
        max-width: inherit;
    }

}

